.main{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    justify-content: center;
    text-align: center;
}
.main span{
    color: rgb(236, 108, 108);
}
.main img{
    width: 70%;
    align-self: center;
}
.main p{
    max-width: 400px;
    align-self: center;
    background-color: rgb(250, 235, 215);
    color: #1d1d1d;
    padding: 2rem;
    border-radius: 10px;
}
.gallery{
   display: flex;
   flex-direction: column;
   width: 100%;
   position: relative;
   padding: 5rem;
   gap: 1rem;
}
.main a{
    color: white;
}
.gallery img{
    width: 100%;
    border: 2px solid rgb(250, 235, 215);
   justify-self: center;
}
@media  screen and (max-width : 900px) {
    .gallery{
        padding: 1rem;
    }
    .main{
        width: 90vw;
    }
}