.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 1rem;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
.mainContainer a{
    background-color: #ec6c6c;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
    align-self: center;
    text-decoration: none;
    transition:  0.3s ease;
}
.mainContainer a:hover{
    color: #ec6c6c;
    background-color: white;
    transition: 0.3s ease;
}